<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASCII Art Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        
      </style>
</head>
<body>
    <h1>Upload an Image to Convert to ASCII Art</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Convert">
    </form>
    {% if ascii_art %}
        <h2>Your ASCII Art:</h2>
        <pre>{{ ascii_art }}</pre>
    {% endif %}
</body>
</html>
