body {
    font-family: monospace;
    text-align: center;
    background-color: black;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 10px;
    line-height: 10px;
    color:white;
}

h1{
    color:white;
}

input[type="file"] {
    color: white;
  }